<%- include('partials/header.ejs') %>

<ul>
    <% for (const categorie of locals.categories) {%>
        <li><a href="/categories/<%= categorie.value %>"><%= categorie.nom %></a></li>
    <%}%>
    
</ul>

<%- include("partials/footer.ejs") %>
