<%- include('partials/header.ejs') %>

<form class="quizzForm" action="">
    <p class="question"></p>
    <div class="answers"></div>
    <input class="submitQuizz" type="submit" value="Valider">
</form>

<%- include("partials/footer.ejs") %>
