<%- include('partials/header.ejs') %>

<div class="container_main">
    <ul>
        <li><a href="/admin/themes">Gestion des themes</a></li>
        <li><a href="/admin/questions">Gestion des questions</a></li>
        <li><a href="/admin/users">Gestion des utilisateurs</a></li>
    </ul>
</div>

<%- include("partials/footer.ejs") %>
