<%- include('partials/header.ejs') %>

<h2>Bienvenue sur le thème : <%= locals.category.nom %></h2>
<p><%= locals.category.description %></p>

<!-- <form class="quizzForm" action="">
    <p class="question"></p>
    <div class="answers"></div>
    <input class="submitQuizz" type="submit" value="Valider">
</form> -->

<%- include("partials/footer.ejs") %>
