<%- include('partials/header.ejs') %>

<ul>
    <% for (const theme of locals.themes) {%>
        <li><a href="/quiz/<%= theme.theme %>"><%= theme.theme %></a></li>
    <%}%>
    
</ul>

<%- include("partials/footer.ejs") %>
