<%- include('partials/header.ejs') %>

<ul>
    <% for (const theme of locals.themes) {%>
        <li><a href="/themes/<%= theme.name %>"><%= theme.name %></a></li>
    <%}%>
    
</ul>

<%- include("partials/footer.ejs") %>
