<%- include('partials/header.ejs') %>

<div class="container_main">
    <ul class="themes_ul">
        <% for (const theme of locals.themes) {%>
            <li class="themes_li"><a href="/themes/<%= theme.id %>"><%= theme.name %></a></li>
        <%}%>
    </ul>
</div>

<%- include("partials/footer.ejs") %>
